




<div class="container-fluid">
    <div class="image-upload">
        <label for="image-upload">
            <span><i class="fas fa-file-upload"></i></span>
            <span>
                Upload Image
            </span>
        </label>
        <input type="file" name='upload-image' id='image-upload' accept=".png, .jpg, .jpeg" (change)="fileChangeEvent($event)">
    </div>
    <div class="image-preview">
        <div class="image-cropper">
            <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" format="png"
            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded( $event)" (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"></image-cropper>
        </div>
        <div class="cropped-image">
            <img [src]="croppedImage" />
        </div>
    </div>
    <div class="submit-data">
        <button (click)="SubmitData()" type='submit'>Submit data</button>
    </div>
    
    <div class="output-data" *ngIf='text_data'>
        {{text_data}}
    </div>
   
</div>